<!doctype html>
<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css' integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2' crossorigin='anonymous'>

    <title>Hello, world!</title>
  </head>
  <body>





    <!-- INICIO CABECERA  -->
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>        
    <div id='cabecera'>
        
        <h1 class='h3 bg-dark text-warning m-3'>
            {{ proyecto }}
        </h1>
    
        <div class='container'>

            <div class=' m-2 bg-info'>

                <!-- Link imagen -->
                <img src='https://03pwqw.dm.files.1drv.com/y4mzX4W6iT49tJGIJ3FehQLvvdV_-R-gxYy614_8V-S1auqULxo9AVc6ZKGlolmi3-Zx-hq7Z4X11m3t6NjTyGjovUn6vUtlI1RZJ3yw3jdPzcVP3-FREKiPo5BDN1WqjRzupCi-FBaEg4u0qEue9vdhAMLFH5j-6NC-HBZirfCSdW5ErkIP-ib9sEBksvDG3U68xOAzubIf3_gpSOfBuXQwA?width=1275&amp;height=400&amp;cropmode=none'
                    class='img-fluid' alt='Responsive image'>
            </div>

            <div class='card-body'>

                <!-- Canal de Youtube -->
                <a href='https://youtube.com/tecnoprofe' target='_blank' class='m-2 btn btn-dark'>
                    <img src='https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2019/03/01/15514341872685.jpg' alt=''
                    height='50px'>
                </a>

                <!-- GitLab -->
                <a href='https://gitlab.com/tecnoprofe' target='_blank' class='m-2 btn btn-dark'>
                    <img src='https://ubunlog.com/wp-content/uploads/2018/06/GitLab_logo.png' alt='' height='50px'>
                </a>


                <!-- Redes Sociales -->
                <a href='https://www.facebook.com/zambranachaconjaime' target='_blank' class='m-2 btn btn-dark'>
                    <img src='https://sites.google.com/site/geoespacio/_/rsrc/1486858388107/home/LOGOFACE.png' alt='' height='50px'>    
                </a>

                <!-- TITULO DE ASIGNATURA -->
                <h1> <strong>{{ materia }}</strong> </h1>

            </div>

        </div>
    </div>
    <!-- FIN -->
    <script>
        new Vue({
            el: '#cabecera',
            data: {
              materia: 'Programación IV',                            
              proyecto: 'Desarrolllar un sistema con el MVC para un almacen de compra y ventas.',
            }
        })
    </script>
    <!-- FIN CABECERA  -->
    




    <!-- INICIO PLANIFICACIÓN  -->
    <div id='planificacion'>        
        <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>                        
        <!--INICIO -->

        <div class='card'>
            <div class='card-header bg-dark text-warning m-3'>
                <h1 class='display-4 '>
                    Planificación
                </h1>
            </div>
            
            <div class='card-body'>
                <div class='accordion' id='accordionExample'>
                    <!-- PLANIFICACION-->
                    <div class='card'>
                        <div class='card-header' id='headingOne'>
                            <h2 class='mb-0'>
                                <button class='btn btn-link btn-block text-left' type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne'>
                        Planificación de la asignatura
                    </button>
                            </h2>
                        </div>

                        <div id='collapseOne' class='collapse' aria-labelledby='headingOne' data-parent='#accordionExample'>
                            <div class='card-body'>
                                <ul class='list-group'>
                                    <li class='list-group-item'>Se realizará el diagnostico inicial a los conocimientos previos del estudiante en la primera clase</li>
                                    <li class='list-group-item'>El estudiantes debe estan atento leer los contenidos publicados, archivos PDF/Vídeos</li>
                                    <li class='list-group-item'>Presentar el proyecto como valoración final</li>                        
                                    <li class='list-group-item'>Las valoraciones serán al conocimiento y habilidades adquiridas.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    
                    <!-- ENCUENTROS -->
                    <div class='card'>
                        <div class='card-header' id='headingTwo'>
                            <h2 class='mb-0'>
                                <button class='btn btn-link btn-block text-left collapsed' type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo'>
                        Reuniones sincrónicas y asincrónicas
                    </button>
                            </h2>
                        </div>
                        <div id='collapseTwo' class='collapse' aria-labelledby='headingTwo' data-parent='#accordionExample'>
                            <div class='card-body'>
                                <ul class='list-unstyled'>
                                    <li class='media'>
                                        <!-- link de zoom  -->
                                        <img src='https://d24cgw3uvb9a9h.cloudfront.net/static/94027/image/new/ZoomLogo.png' class='mr-3' alt='...' width='150'>
                                        <div class='media-body'>
                                            <h5 class='mt-0 mb-1'>Sesiones Zoom</h5>
                                            {{ dias }}
                                            <a href='https://us02web.zoom.us/j/87405698562?pwd=RUNYMUhqdEpEUzY4cTNFdWNVQXlYdz09' class='btn btn-primary' target='_blank'>
                            Unirse a la clase
                            </a>

                                            <ul>ID de reunión: 859 2850 7569</ul>
                                            <ul>Código de acceso: 114168</ul>
                                            <a href='https://us02web.zoom.us/j/85928507569?pwd=RmtOSGFabCtQQTJ4d3dMcTNYcUZLQT09' class=''>






                            </a>
                                        </div>
                                    </li>
                                    <li class='media my-4'>
                                        <!-- link de moodle -->
                                        <img src='https://moodle.com/wp-content/uploads/2019/05/Moodle_RGB.svg' class='mr-3' alt='...' width='150'>
                                        <div class='media-body'>
                                            <h5 class='mt-0 mb-1'>Moodle</h5>
                                            Actividades Asincronicas (revisar constantemente la plataforma)
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>



                    <!-- REGLAS-->
                    <div class='card'>
                        <div class='card-header' id='headingcuatro'>
                            <h2 class='mb-0'>
                                <button class='btn btn-link btn-block text-left' type='button' data-toggle='collapse' data-target='#collapseCuatro' aria-expanded='false' aria-controls='collapseCuatro'>
                        Reglas de grupo
                    </button>
                            </h2>
                        </div>
                        <div id='collapseCuatro' class='collapse' aria-labelledby='headingcuatro' data-parent='#accordionExample'>
                            <div class='card-body'>
                                <!-- CAMBIAR LINK AQUI-->
                                <ul class='list-group'>
                                    <li class='list-group-item'>
                                        <h2>REGLA 1</h2>
                                        Recuerda que los mensajes en el aula son leídos por todos. Sé siempre respetuoso y cortés 
                                    </li>
                            
                                
                                    <li class='list-group-item'>
                                        <h2>REGLA 2</h2>                        
                                        Comparte tu conocimiento
                                    </li>
                                    <li class='list-group-item'>
                                        <h2>REGLA 3</h2>
                                        Ayuda a mantener los debates en un ambiente sano y educativo.
                                    </li>
                                    <li class='list-group-item'>
                                        <h2>REGLA 4</h2>
                                        Respeta la privacidad de terceras personas. 
                                    </li>
                                    <li class='list-group-item'>
                                        <h2>REGLA 5</h2>
                                        Con respecto a los espacios de intercambio:
                                        <ul>
                                            <li>Lee todas las intervenciones de tus compañeros y del docente antes de participar.</li>
                                            <li>Escribe textos cortos.</li>
                                            <li> Verifica ortografía y claridad en la redacción antes de publicar.</li>
                                            <li> Si está a tu alcance, colabora ante las consultas de tus compañeros. </li>
                                        </ul>
                                    </li>
                                    <li class='list-group-item'>
                                        <h2>REGLA 6</h2>
                                        Ingresa periódicamente al aula y realiza las actividades en la plataforma virtual. 
                                    </li>
                                    <li class='list-group-item'>
                                        <h2>REGLA 7</h2>
                                        Activar la cámara y micrófono en cada participación sincrónica a través de una de nuestras plataformas como Zoom o Teams.
                                    </li>
                                                                
                                </ul>

                                
                            </div>
                        </div>
                    </div>




                    <!-- GRUPO DE WHATSAPP-->
                    <div class='card'>
                        <div class='card-header' id='headingcinco'>
                            <h2 class='mb-0'>
                                <button class='btn btn-link btn-block text-left' type='button' data-toggle='collapse' data-target='#collapseCinco' aria-expanded='false' aria-controls='collapseCinco'>
                        <strong>Grupo de WhatsApp</strong> 
                    </button>
                            </h2>
                        </div>
                        <div id='collapseCinco' class='collapse' aria-labelledby='headingcinco' data-parent='#accordionExample'>
                            <div class='card-body'>
                                <!-- CAMBIAR LINK AQUI-->
                                <a :href='whatsapp' target='_blank'> 
                        <img src='https://s3-sa-east-1.amazonaws.com/img.decodecms/entradas/Agregar+Whatsapp+flotante+en+WordPress/agregar-whatsapp-flotante-en-wordpress.svg' 
                        style='width:5%;' class='img-thumbnail'>
                    </a>
                            </div>
                        </div>
                    </div>




                    <!-- Videos de UPDS-->
                    <div class='card'>
                        <div class='card-header' id='headingotro'>
                            <h2 class='mb-0'>
                                <button class='btn btn-link btn-block text-left' type='button' data-toggle='collapse' data-target='#collapseotro' aria-expanded='false' aria-controls='collapseCinco'>
                        Vídeo tutoriales UPDS
                    </button>
                            </h2>
                        </div>
                        <div id='collapseotro' class='collapse' aria-labelledby='headingotro' data-parent='#accordionExample'>
                            <div class='card-body'>
                                <iframe width='400' height='200' src='https://www.youtube.com/embed/videoseries?list=PLqQa6S5g7ZSriyswa7MG1Xe_HzV0ObeCE' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        

        </div> 

       
    </div>    
    <script>
        new Vue({
            el: '#planificacion',
            data: {
              dias: 'Lunes, Miercoles y Viernes. A las 19:00',
              whatsapp: 'https://chat.whatsapp.com/G82W7cCh2dA26xIkPwqNse',
            }
        })
    </script>
    <!-- FIN CABECERA  -->
    











<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>        
<div id='contenido'>    
    <!-- titulo de contenido -->
    <!-- CONTENIDO -->    
        <!-- UNIDAD 1-->
        <div class='card'>
            <div class='card-header bg-dark text-warning m-3'>
                <h1 class='display-4 '>
                    Contenido
                </h1>
            </div>
            <div class='card-body'>
            <ul class='list-group list-group-flush'>
              <li  v-for='tema in temas' class='list-group-item'>                   
                    <h3>{{ tema.titulo }}</h3>                    
                    <ul>                        
                        <a v-for='capitulo in tema.contenido'  :href='capitulo.enlace'
                        target='_blank'>
                        <li>                                                
                            <img :src='capitulo.icono'
                            style='width: 3%;'
                            alt='imagen'>     
                            {{ capitulo.nombre}}
                        </li>
                        </a> 
                        
                    </ul>
              </li>
            </ul>
            </div>
        </div>        
</div>
<script>
    new Vue({
        el: '#contenido',
        data: {
           temas:[
            { titulo: 'Capítulo 1. Metodología de desarrollo de software.',
              contenido:[
                    {nombre:'METODOLOGÍA DE DESARROLLO DE SOFTWARE',
                    enlace:'https://www.uladech.edu.pe/images/stories/universidad/documentos/2018/metodologia-desarrollo-software-v001.pdf', 
                    icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},                    
                                        

                    {nombre:'Metodologías del desarrollo de software',tipo:'video',
                    enlace:'https://youtu.be/hmNcUiSdIK8', 
                    icono:'https://addplaybuttontoimage.way4info.net/Images/Icons/7.png'},  

                    {nombre:'Etapas y metodologias del proceso de desarrollo de software',tipo:'video',
                    enlace:'https://youtu.be/Cnheob-ohtE', 
                    icono:'https://addplaybuttontoimage.way4info.net/Images/Icons/7.png'},  

                   
                   {nombre:'Conceptos basico de Programación Orientada a Objetos',
                    enlace:'https://cursos.clavijero.edu.mx/cursos/178_pds/modulo3/contenido/tema3.1.html?opc=0', 
                    icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},                    

                   {nombre:'Metodologías Orientada a Objetos',
                    enlace:'https://cursos.clavijero.edu.mx/cursos/178_pds/modulo3/contenido/tema3.3.html?opc=2', 
                    icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},                    

                    {nombre:'UML',
                    enlace:'https://cursos.clavijero.edu.mx/cursos/178_pds/modulo3/contenido/tema3.2.html?opc=1', 
                    icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},                    


                    
                ]
            },
            { titulo: 'Capítulo 2. Arquitectura de software',
              contenido:[
                {nombre:'Scrum Ejemplo Práctico de la Planeación del Sprint',tipo:'video',
                    enlace:'https://youtu.be/BNCDcGqYNwk', 
                    icono:'https://addplaybuttontoimage.way4info.net/Images/Icons/7.png'},  
                ]
            },
            { titulo: 'Capítulo 3. Modelado del comportamiento',
              contenido:[
                
                ]
            },
          ]
        }
    })
</script>








<h1 class='display-4 bg-dark text-warning m-3'>
    Tareas
</h1>





<!-- TAREA 1-->

<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>        
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'>


<div id='actividad'> 
    
    <div class='card bg-dark text-white'>
        <img src='https://www.logaster.com.es/blog/wp-content/uploads/sites/4/2020/01/4-min-1024x576.jpg' class='card-img' alt='...'>
        <div class='card-img-overlay'>
            <!-- ENUNCIADO-->            
            <span style='font-size: 25px; color: rgb(255, 255, 255);'>                
                <i class='fa fa-chalkboard-teacher'></i> INSTRUCCIÓN                
            </span>
            <!-- INTRUCCIONES -->            
            <ul>
                <p>Realizar la actividad bajo las siguientes consideraciones:</p>
                <li v-for='item in instrucciones'>
                    <p v-html='item.titulo'></p>
                </li>                
            </ul>
                        

            <span style='font-size: 25px; color: rgb(255, 255, 255);'>                                
                <i class='fa fa-tools'></i> HERRAMIENTAS Y RECURSOS
            </span>
            <!-- RECURSOS -->            
            <ul>                
                <li v-for='item in recursos'>                    
                    <p v-html='item.titulo'></p>
                </li>                
            </ul>
        

            <span style='font-size: 25px; color: rgb(255, 255, 255);'>                                
                <i class='fa fa-clipboard-check'></i> EVALUACIÓN
            </span> 
            <p v-html='evaluacion'></p>            
          
        </div>
      </div>
</div>

<script>
    new Vue({
        el: '#actividad',
        data: 
        {
            enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
            instrucciones:[                
                {titulo:'Investigar sobre las familias de tipografías:'},
                {titulo:'Realizar diapositivas, enfatizando una familia tipográfica.'},
                {titulo:'La exposición durará 5 minutos por participante.'},
            ],
            
            recursos:[   
            
                {titulo:""},                
            ],
                        
            evaluacion: 'Puntaje: <strong> 5 pts </strong> ',
        }
    })
</script>
<!-- FIN tarea  -->








<li><a href='http://www.numpy.org/' target='_blank' class='ext' data-extlink='' rel='noopener'><strong>NumPy</strong><svg focusable='false' class='ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: Ofrece una estructura&nbsp;crítica&nbsp;para el almacenamiento y operaciones con datos: el <em>array multidimensional</em>. NumPy es una librería de bajo nivel sobre la que se han desarrollado otras.</li>
	<li><a href="https://pandas.pydata.org/" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>pandas</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: Ejemplo de librería desarrollada sobre NumPy. Ofrece dos estructuras de datos basadas en el array NumPy: la serie (estructura unidimensional) y el DataFrame (estructura bidimensional).</li>
	<li><a href="https://www.scipy.org/" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>SciPy</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: Esta librería ofrece herramientas matemáticas de todo tipo: resolución de ecuaciones diferenciales, distribuciones, gestión de matrices...</li>
	<li><a href="https://matplotlib.org/" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>Matplotlib</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: Es la librería de visualización referencia en el entorno Python. Aun cuando ofrece herramientas de bajo nivel y su uso no es especialmente amigable, sigue siendo obligado su conocimiento, más cuando otras librerías de visualización se han construido sobre ésta.</li>
	<li><a href="https://seaborn.pydata.org/" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>seaborn</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: Otra librería de visualización, en este caso desarrollada sobre Matplotlib. Mucho más amigable que Matplotlib y con un estilo visual mucho más atractivo, es la primera opción en muchos casos.</li>
	<li><a href="https://bokeh.pydata.org" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>Bokeh</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: Tercera librería de visualización de esta lista, aunque en este caso no está basada en Matplotlib. Bokeh ofrece visualizaciones interactivas muy atractivas y útiles.</li>
	<li><a href="https://scikit-learn.org/" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>Scikit-learn</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: Librería de referencia en el mundo del Machine Learning para Python. Ofrece innumerables algoritmos y&nbsp;herramientas imprescindibles en cualquier proyecto de análisis de datos.</li>
	<li><a href="https://www.tensorflow.org/" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>TensorFlow</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: TensorFlow ofrece herramientas para la definición y entrenamiento de redes neuronales.</li>
	<li><a href="https://keras.io/" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>Keras</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: Keras&nbsp;se ofrece como interfaz de alto nivel para librerías como TensorFlow, Theano o CNTK.</li>
	<li><a href="https://www.nltk.org/" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>NLTK</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: Librería de procesamiento de lenguaje natural, con multitud de herramientas orientadas al análisis de textos.</li>
	<li><a href="https://xgboost.readthedocs.io" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>XGBoost</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>, <a href="https://lightgbm.readthedocs.io" target="_blank" class="ext" data-extlink="" rel="noopener"><strong>LightGBM</strong><svg focusable="false" class="ext" role="img" aria-label="(link is external)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 40"><metadata><sfw xmlns="http://ns.adobe.com/SaveForWeb/1.0/"><slicesourcebounds y="-8160" x="-8165" width="16389" height="16384" bottomleftorigin="true"></slicesourcebounds><optimizationsettings><targetsettings targetsettingsid="0" fileformat="PNG24Format"><png24format transparency="true" filtered="false" interlaced="false" nomattecolor="false" mattecolor="#FFFFFF"></png24format></targetsettings></optimizationsettings></sfw></metadata><title>(link is external)</title><path d="M48 26c-1.1 0-2 0.9-2 2v26H10V18h26c1.1 0 2-0.9 2-2s-0.9-2-2-2H8c-1.1 0-2 0.9-2 2v40c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V28C50 26.9 49.1 26 48 26z"></path><path d="M56 6H44c-1.1 0-2 0.9-2 2s0.9 2 2 2h7.2L30.6 30.6c-0.8 0.8-0.8 2 0 2.8C31 33.8 31.5 34 32 34s1-0.2 1.4-0.6L54 12.8V20c0 1.1 0.9 2 2 2s2-0.9 2-2V8C58 6.9 57.1 6 56 6z"></path></svg></a>: Librerías que implementan los algoritmos homónimos, fundamentales en entornos tabulares.</li>








<!-- INICIO LISTA DE VIDEOS  -->
    <div id='listavideos'>        
        <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>                        
        <!--INICIO -->

        <div class='card'>
            <div class='card-header bg-dark text-warning m-3'>
                <h1 class='display-4 '>
                    Lista de vídeos grabados
                </h1>
            </div>
            <div class='card-body'>            
            <iframe width='560' height='315' src='https://www.youtube.com/embed/videoseries?list=PL9xn53JF6mUE7Ep6nheiUIrVp0UEw1eOq' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
            
                
            </div>

        </div>        
    </div>        
<!-- FIN   -->
    

    


<!-- INICIO PROGRAMAS  -->
<div id='programas'>        
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>                        
    <!--INICIO -->

    <div class='card'>
        <div class='card-header bg-dark text-warning m-3'>
            <h1 class='display-4 '>
                Aplicaciones y software necesario
            </h1>
        </div>
        <div class='card-body'>                       
            <a v-for='soft in software' 
            :href='soft.enlace' 
            target='_blank' >
                <img :src='soft.icono'
                        style='width: 8%;'
                    alt='imagen'>  
            {{ soft.titulo }}
            
            </a>
        </div>

    </div>        
</div>        
<!-- FIN   -->
<script>
    new Vue({
        el: '#programas',
        data: {            
            software:[                    
                        { titulo: 'Librerias a instalar',enlace:'https://bootcampai.medium.com/top-10-de-las-mejores-librerias-de-inteligencia-artificial-aebaa62513dc',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},
                        { titulo: 'Python',enlace:'https://www.python.org/',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},                        
                        { titulo: 'Microsoft VSCode',enlace:'https://code.visualstudio.com/',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},
                    ]        
            }
        })
</script>
    


   


 <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
 <script src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous'></script>
 <script src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous'></script>
  </body>
</html>






