<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
     




    <!-- INICIO CABECERA  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
    <div id="cabecera">
        
        <h1 class="h3 bg-dark text-warning m-3">
            {{ proyecto }}
        </h1>
    
        <div class="container">

            <div class=" m-2 bg-info">

                <!-- Link imagen -->
                <img src="https://03pwqw.dm.files.1drv.com/y4mzX4W6iT49tJGIJ3FehQLvvdV_-R-gxYy614_8V-S1auqULxo9AVc6ZKGlolmi3-Zx-hq7Z4X11m3t6NjTyGjovUn6vUtlI1RZJ3yw3jdPzcVP3-FREKiPo5BDN1WqjRzupCi-FBaEg4u0qEue9vdhAMLFH5j-6NC-HBZirfCSdW5ErkIP-ib9sEBksvDG3U68xOAzubIf3_gpSOfBuXQwA?width=1275&amp;height=400&amp;cropmode=none"
                    class="img-fluid" alt="Responsive image">
            </div>

            <div class="card-body">

                <!-- Canal de Youtube -->
                <a href="https://youtube.com/tecnoprofe" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2019/03/01/15514341872685.jpg" alt=""
                    height="50px">
                </a>

                <!-- GitLab -->
                <a href="https://gitlab.com/tecnoprofe" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://ubunlog.com/wp-content/uploads/2018/06/GitLab_logo.png" alt="" height="50px">
                </a>


                <!-- Redes Sociales -->
                <a href="https://www.facebook.com/zambranachaconjaime" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://sites.google.com/site/geoespacio/_/rsrc/1486858388107/home/LOGOFACE.png" alt="" height="50px">    
                </a>

                <!-- TITULO DE ASIGNATURA -->
                <h1> <strong>{{ materia }}</strong> </h1>

            </div>

        </div>
    </div>
    <!-- FIN -->
    <script>
        new Vue({
            el: '#cabecera',
            data: {
              materia: 'Inteligencia Artificial',                            
              proyecto: 'Desarrolla un sistema utilizando los algoritmos de aprendizaje automático',
            }
        })
    </script>
    <!-- FIN CABECERA  -->
    




    <!-- INICIO PLANIFICACIÓN  -->
    <div id="planificacion">        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                        
        <!--INICIO -->

        <div class="card">
            <div class="card-header bg-dark text-warning m-3">
                <h1 class="display-4 ">
                    Planificación
                </h1>
            </div>
            
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <!-- PLANIFICACION-->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Planificación de la asignatura
                    </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Se realizará el diagnostico inicial a los conocimientos previos del estudiante en la primera clase</li>
                                    <li class="list-group-item">El estudiantes debe estan atento leer los contenidos publicados, archivos PDF/Vídeos</li>
                                    <li class="list-group-item">Presentar el proyecto como valoración final</li>                        
                                    <li class="list-group-item">Las valoraciones serán al conocimiento y habilidades adquiridas.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    
                    <!-- ENCUENTROS -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Reuniones sincrónicas y asincrónicas
                    </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <!-- link de zoom  -->
                                        <img src="https://d24cgw3uvb9a9h.cloudfront.net/static/94027/image/new/ZoomLogo.png" class="mr-3" alt="..." width="150">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">Sesiones Zoom</h5>
                                            {{ dias }}
                                            <a href="https://us02web.zoom.us/j/87405698562?pwd=RUNYMUhqdEpEUzY4cTNFdWNVQXlYdz09" class="btn btn-primary" target="_blank">
                            Unirse a la clase
                            </a>

                                            <ul>ID de reunión: 859 2850 7569</ul>
                                            <ul>Código de acceso: 114168</ul>
                                            <a href="https://us02web.zoom.us/j/85928507569?pwd=RmtOSGFabCtQQTJ4d3dMcTNYcUZLQT09" class="">






                            </a>
                                        </div>
                                    </li>
                                    <li class="media my-4">
                                        <!-- link de moodle -->
                                        <img src="https://moodle.com/wp-content/uploads/2019/05/Moodle_RGB.svg" class="mr-3" alt="..." width="150">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">Moodle</h5>
                                            Actividades Asincronicas (revisar constantemente la plataforma)
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>



                    <!-- REGLAS-->
                    <div class="card">
                        <div class="card-header" id="headingcuatro">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCuatro" aria-expanded="false" aria-controls="collapseCuatro">
                        Reglas de grupo
                    </button>
                            </h2>
                        </div>
                        <div id="collapseCuatro" class="collapse" aria-labelledby="headingcuatro" data-parent="#accordionExample">
                            <div class="card-body">
                                <!-- CAMBIAR LINK AQUI-->
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h2>REGLA 1</h2>
                                        Recuerda que los mensajes en el aula son leídos por todos. Sé siempre respetuoso y cortés 
                                    </li>
                            
                                
                                    <li class="list-group-item">
                                        <h2>REGLA 2</h2>                        
                                        Comparte tu conocimiento
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 3</h2>
                                        Ayuda a mantener los debates en un ambiente sano y educativo.
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 4</h2>
                                        Respeta la privacidad de terceras personas. 
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 5</h2>
                                        Con respecto a los espacios de intercambio:
                                        <ul>
                                            <li>Lee todas las intervenciones de tus compañeros y del docente antes de participar.</li>
                                            <li>Escribe textos cortos.</li>
                                            <li> Verifica ortografía y claridad en la redacción antes de publicar.</li>
                                            <li> Si está a tu alcance, colabora ante las consultas de tus compañeros. </li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 6</h2>
                                        Ingresa periódicamente al aula y realiza las actividades en la plataforma virtual. 
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 7</h2>
                                        Activar la cámara y micrófono en cada participación sincrónica a través de una de nuestras plataformas como Zoom o Teams.
                                    </li>
                                                                
                                </ul>

                                
                            </div>
                        </div>
                    </div>




                    <!-- GRUPO DE WHATSAPP-->
                    <div class="card">
                        <div class="card-header" id="headingcinco">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco">
                        <strong>Grupo de WhatsApp</strong> 
                    </button>
                            </h2>
                        </div>
                        <div id="collapseCinco" class="collapse" aria-labelledby="headingcinco" data-parent="#accordionExample">
                            <div class="card-body">
                                <!-- CAMBIAR LINK AQUI-->
                                <a :href="whatsapp" target="_blank"> 
                        <img src="https://s3-sa-east-1.amazonaws.com/img.decodecms/entradas/Agregar+Whatsapp+flotante+en+WordPress/agregar-whatsapp-flotante-en-wordpress.svg" 
                        style="width:5%;" class="img-thumbnail">
                    </a>
                            </div>
                        </div>
                    </div>




                    <!-- Videos de UPDS-->
                    <div class="card">
                        <div class="card-header" id="headingotro">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseotro" aria-expanded="false" aria-controls="collapseCinco">
                        Vídeo tutoriales UPDS
                    </button>
                            </h2>
                        </div>
                        <div id="collapseotro" class="collapse" aria-labelledby="headingotro" data-parent="#accordionExample">
                            <div class="card-body">
                                <iframe width="400" height="200" src="https://www.youtube.com/embed/videoseries?list=PLqQa6S5g7ZSriyswa7MG1Xe_HzV0ObeCE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        

        </div> 

       
    </div>    
    <script>
        new Vue({
            el: '#planificacion',
            data: {
              dias: 'Horario a definirse',
              whatsapp: 'https://chat.whatsapp.com/J7FpKwPtd45GzGAD62TyVK',
            }
        })
    </script>
    <!-- FIN CABECERA  -->
    









|

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
<div id="contenido">    
    <!-- titulo de contenido -->
    <!-- CONTENIDO -->    
        <!-- UNIDAD 1-->
        <div class="card">
            <div class="card-header bg-dark text-warning m-3">
                <h1 class="display-4 ">
                    Contenido
                </h1>
            </div>
            <div class="card-body">
            <ul class="list-group list-group-flush">
              <li  v-for="tema in temas" class="list-group-item">                   
                    <h3>{{ tema.titulo }}</h3>                    
                    <ul>                        
                        <a v-for="capitulo in tema.contenido"  :href="capitulo.enlace"
                        target="_blank">
                        <li>                                                
                            <img :src="capitulo.icono"
                            style="width: 3%;"
                            alt="imagen">     
                            {{ capitulo.nombre}}
                        </li>
                        </a> 
                        
                    </ul>
              </li>
            </ul>
            </div>
        </div>        
</div>
<script>
    new Vue({
        el: '#contenido',
        data: {
           temas:[
            { titulo: 'Capítulo 1. FUNDAMENTOS DE INTELIGENCIA ARTIFICIAL Y AGENTES INTELIGENTES',
              contenido:[
                    {nombre:'Fundamentos de InteligenciaArtificial',
                    enlace:'https://www.infor.uva.es/~jjalvarez/asignaturas/IA_teoria/lectures/IA_introduccion.pdf', 
                    icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},                    
                                        

                    {nombre:'Webinar: ¿Cómo aplicar la Inteligencia Artificial en la empresa?',tipo:'video',
                    enlace:'https://youtu.be/UZB7oSjFqs0', 
                    icono:'https://addplaybuttontoimage.way4info.net/Images/Icons/7.png'},  

                    {nombre:'Introducción a la IA',
                    enlace:'https://es.calameo.com/read/005272813824169c03956', 
                    icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},                    

                    {nombre:'Busquedas sin información y heuristicas',
                    enlace:'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjU15TXisftAhXBB9QKHcHOBwsQFjAAegQIAxAC&url=http%3A%2F%2Focw.uc3m.es%2Fcursos-archivados%2Finteligencia-artificial%2Fmis-items%2Fmaterial-de-clase-2%2Fbusqueda-ocw.pdf&usg=AOvVaw0QKXurKcV3Y08lJEg4mxQu', 
                    icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},                    


                    
                ]
            },
            { titulo: 'Capítulo 2. AGENTES QUE PLANIFICAN SUS ACCIONES',
              contenido:[
                
                ]
            },
            { titulo: 'Capítulo 3. PROBLEMAS DE SATISFACCIÓN DE RESTRICCIONES',
              contenido:[
                
                ]
            },
            { titulo: 'Capítulo 4. AGENTES CON ADVERSARIOS',
              contenido:[
              
                ]
            },
            { titulo: 'Capítulo 5. 	INCERTIDUMBRE',
              contenido:[
                    
                    
                    

                    {nombre:'Estadística con Python',
                    enlace:'https://relopezbriega.github.io/blog/2015/06/27/probabilidad-y-estadistica-con-python//', 
                    icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},

                    {nombre:'Tkinter (Documento anexo)',tipo:'pdf',
                    enlace:'https://gitlab.com/tecnoprofe/academia/-/blob/master/inteligencia_artificial_1/cap5_001_tkinter.pdf', 
                    icono:'https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg'},  
                                        
                    
                ]
            },
            /*
            { titulo: 'Capítulo 6. REDES DE BAYES',
              contenido:[
                
                ]
            },
            { titulo: 'Capítulo 7. MODELOS OCULTOS Y FILTROS',
              contenido:[
                
                ]
            },
            { titulo: 'Capítulo 8. APRENDIZAJE POR REFUERZO',
              contenido:[
                
                ]
            },*/
          ]
        }
    })
</script>









<h1 class="display-4 bg-dark text-warning m-3">
    Tareas
</h1>










<div id="actividades">

<div class="card">
    <div class="row" v-for="(tarea, index) in actividad">      
        <div class="col-md-2">             
          <img :src="imagen[index].url" class="img-fluid"  alt="tarea" >
        </div>

        <div class="col-md-10 text-white bg-dark mb-3">
            <div class="card-body">         
            
                <img :src="iconotarea" style="width: 45px;">
                <h5 class="card-title">{{tarea.enunciado }}</h5>
                <!-- INSTRUCCIONES-->
                <ul class="text-dark bg-white mb-3">
                    <li v-for="inst in tarea.instrucciones">
                        <p v-html="inst.titulo"></p>                    
                    </li>
                </ul>            

                <!-- RECURSOS-->
                <img :src="iconorecurso" style="width: 45px;">
                <ul class="text-dark bg-warning mb-3">
                    <li v-for="inst in tarea.recursos">                        

                        <a :href="inst.link" ><img :src="icono" style="width: 45px;"></a>{{ inst.titulo }} 
                    </li>
                </ul>  

                <!-- evaluación-->
                <img :src="iconoexamen" style="width: 45px;">            
                <div class="text-dark bg-info  p-3">
                    <p v-html="tarea.evaluacion" ></p>
                </div>
            

            </div>
        </div>
    </div>
</div>
</div>
<script>
    new Vue({
        el: '#actividades',
        data: {
            actividad:[
                //ACTIVIDAD 1
                {                    
                    enunciado: 'Realizar la siguiente actividad, según el detalle:',
                    instrucciones: [
                            {titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención"},           
                            {titulo: "El tiempo de exposición será de 3 minutos"},                
                            {titulo: "Trabajo individual"},
                            {titulo: "Debe realizar y subir su diapositiva como evidencia."},
                            {titulo: "Para la exposición debe activar su cámara web."},
                    ],

                    recursos: [
                        {   
                            icono:"video",
                            link: "https://www.google.com/",
                            titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención" ,
                            
                        },
                        {   
                            icono:"",
                            link: "",
                            titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención" ,                            
                        },
                     ],
                    evaluacion: 'Puntaje: <strong> 10 pts </strong> ',
                },
                //ACTIVIDAD 2
                {
                    enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
                    instrucciones: [
                            {titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención"},           
                            {titulo: "El tiempo de exposición será de 3 minutos"},                
                            {titulo: "Trabajo individual"},
                            {titulo: "Debe realizar y subir su diapositiva como evidencia."},
                            {titulo: "Para la exposición debe activar su cámara web."},
                    ],

                    recursos: [{
                        titulo: "<a class='btn btn-info' target='_blank' href='https://youtu.be/UZB7oSjFqs0'> Vídeo </a>"
                    }, ],
                    evaluacion: 'Puntaje: <strong> 10 pts </strong> ',
                },
                //ACTIVIDAD 3
                {
                    enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
                    instrucciones: [
                            {titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención"},           
                            {titulo: "El tiempo de exposición será de 3 minutos"},                
                            {titulo: "Trabajo individual"},
                            {titulo: "Debe realizar y subir su diapositiva como evidencia."},
                            {titulo: "Para la exposición debe activar su cámara web."},
                    ],

                    recursos: [{
                        titulo: "<a class='btn btn-info' target='_blank' href='https://youtu.be/UZB7oSjFqs0'> Vídeo </a>"
                    }, ],
                    evaluacion: 'Puntaje: <strong> 10 pts </strong> ',
                },
                //ACTIVIDAD 4
                {
                    enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
                    instrucciones: [
                            {titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención"},           
                            {titulo: "El tiempo de exposición será de 3 minutos"},                
                            {titulo: "Trabajo individual"},
                            {titulo: "Debe realizar y subir su diapositiva como evidencia."},
                            {titulo: "Para la exposición debe activar su cámara web."},
                    ],

                    recursos: [{
                        titulo: "<a class='btn btn-info' target='_blank' href='https://youtu.be/UZB7oSjFqs0'> Vídeo </a>"
                    }, ],
                    evaluacion: 'Puntaje: <strong> 10 pts </strong> ',
                },
                //ACTIVIDAD 5
                {
                    enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
                    instrucciones: [
                            {titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención"},           
                            {titulo: "El tiempo de exposición será de 3 minutos"},                
                            {titulo: "Trabajo individual"},
                            {titulo: "Debe realizar y subir su diapositiva como evidencia."},
                            {titulo: "Para la exposición debe activar su cámara web."},
                    ],

                    recursos: [{
                        titulo: "<a class='btn btn-info' target='_blank' href='https://youtu.be/UZB7oSjFqs0'> Vídeo </a>"
                    }, ],
                    evaluacion: 'Puntaje: <strong> 10 pts </strong> ',
                },
                //ACTIVIDAD 6
                {
                    enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
                    instrucciones: [
                            {titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención"},           
                            {titulo: "El tiempo de exposición será de 3 minutos"},                
                            {titulo: "Trabajo individual"},
                            {titulo: "Debe realizar y subir su diapositiva como evidencia."},
                            {titulo: "Para la exposición debe activar su cámara web."},
                    ],

                    recursos: [{
                        titulo: "<a class='btn btn-info' target='_blank' href='https://youtu.be/UZB7oSjFqs0'> Vídeo </a>"
                    }, ],
                    evaluacion: 'Puntaje: <strong> 10 pts </strong> ',
                },
                //ACTIVIDAD 7
                {
                    enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
                    instrucciones: [
                            {titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención"},           
                            {titulo: "El tiempo de exposición será de 3 minutos"},                
                            {titulo: "Trabajo individual"},
                            {titulo: "Debe realizar y subir su diapositiva como evidencia."},
                            {titulo: "Para la exposición debe activar su cámara web."},
                    ],

                    recursos: [{
                        titulo: "<a class='btn btn-info' target='_blank' href='https://youtu.be/UZB7oSjFqs0'> Vídeo </a>"
                    }, ],
                    evaluacion: 'Puntaje: <strong> 10 pts </strong> ',
                },
                //ACTIVIDAD 8
                {
                    enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
                    instrucciones: [
                            {titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención"},           
                            {titulo: "El tiempo de exposición será de 3 minutos"},                
                            {titulo: "Trabajo individual"},
                            {titulo: "Debe realizar y subir su diapositiva como evidencia."},
                            {titulo: "Para la exposición debe activar su cámara web."},
                    ],

                    recursos: [{
                        titulo: "<a class='btn btn-info' target='_blank' href='https://youtu.be/UZB7oSjFqs0'> Vídeo </a>"
                    }, ],
                    evaluacion: 'Puntaje: <strong> 10 pts </strong> ',
                },
                //ACTIVIDAD 9
                {
                    enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
                    instrucciones: [
                            {titulo: "Ver el video de duración de una hora que se encuentra en los recursos, y debe resaltar algún punto que le llamo la atención"},           
                            {titulo: "El tiempo de exposición será de 3 minutos"},                
                            {titulo: "Trabajo individual"},
                            {titulo: "Debe realizar y subir su diapositiva como evidencia."},
                            {titulo: "Para la exposición debe activar su cámara web."},
                    ],

                    recursos: [{
                        titulo: "<a class='btn btn-info' target='_blank' href='https://youtu.be/UZB7oSjFqs0'> Vídeo </a>"
                    }, ],
                    evaluacion: 'Puntaje: <strong> 10 pts </strong> ',
                },
            ],
            
            imagen: [
                    {url: "https://live.staticflickr.com/65535/50936835061_a2f0cd57e4_c.jpg"},                    
                    {url: "https://live.staticflickr.com/65535/50936147983_81c340e506_c.jpg"},                    
                    {url: "https://live.staticflickr.com/65535/50936835141_4eb8982448_c.jpg"},                    
                    {url: "https://live.staticflickr.com/65535/50936148058_fa2ff04b08_c.jpg"},                    
                    {url: "https://live.staticflickr.com/65535/50936148073_292c7511fd_c.jpg"},                    
                    {url: "https://live.staticflickr.com/65535/50936148108_65105966c7_c.jpg"},                
                    {url: "https://live.staticflickr.com/65535/50936148158_f02b7517f6_c.jpg"},                    
                    {url: "https://live.staticflickr.com/65535/50936835406_89a8c9d5bd_c.jpg"},                    
                    {url: "https://live.staticflickr.com/65535/50936835461_cf35f8557f_c.jpg"},
            ],
            iconoyoutube:"https://www.flaticon.es/premium-icon/icons/svg/3938/3938026.svg",
            iconowhatsapp:"https://www.flaticon.es/premium-icon/icons/svg/3938/3938041.svg",
            iconotarea:"https://www.flaticon.com/premium-icon/icons/svg/2322/2322693.svg",
            iconorecurso:"https://www.flaticon.com/premium-icon/icons/svg/1835/1835211.svg",                
            iconolink:"https://www.flaticon.com/svg/vstatic/svg/1017/1017466.svg?token=exp=1613236099~hmac=bbf87f73e10f0aba260871455e6c9dd4",                
            iconopdf:"https://www.flaticon.com/premium-icon/icons/svg/379/379099.svg",                
            iconoexamen:"https://www.flaticon.es/premium-icon/icons/svg/3434/3434851.svg",
            
                        
        },
        computed: {            
            icono() {                
              return this
            }
          }
    })
</script>












<!-- INICIO LISTA DE VIDEOS  -->
    <div id="listavideos">        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                        
        <!--INICIO -->

        <div class="card">
            <div class="card-header bg-dark text-warning m-3">
                <h1 class="display-4 ">
                    Lista de vídeos grabados
                </h1>
            </div>
            <div class="card-body">            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL9xn53JF6mUFTApN4g2wBvoGooXA9k-7U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                  
                
            </div>

        </div>        
    </div>        
<!-- FIN   -->
    

    


<!-- INICIO PROGRAMAS  -->
<div id="programas">        
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                        
    <!--INICIO -->

    <div class="card">
        <div class="card-header bg-dark text-warning m-3">
            <h1 class="display-4 ">
                Aplicaciones y software necesario
            </h1>
        </div>
        <div class="card-body">                       
            <a v-for="soft in software" 
            :href="soft.enlace" 
            target="_blank" >
                <img :src="soft.icono"
                        style="width: 8%;"
                    alt="imagen">  
            {{ soft.titulo }}
            
            </a>
        </div>

    </div>        
</div>        
<!-- FIN   -->
<script>
    new Vue({
        el: '#programas',
        data: {            
            software:[                    
                        { titulo: 'Librerias a instalar',enlace:'https://bootcampai.medium.com/top-10-de-las-mejores-librerias-de-inteligencia-artificial-aebaa62513dc',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},
                        { titulo: 'Python',enlace:'https://www.python.org/',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},                        
                        { titulo: 'Microsoft VSCode',enlace:'https://code.visualstudio.com/',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},
                    ]        
            }
        })
</script>
    


   


 <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>






