<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>





    <!-- INICIO CABECERA  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
    <div id="cabecera">
        
        <h1 class="h3 bg-dark text-warning m-3">
            {{ proyecto }}
        </h1>
    
        <div class="container">

            <div class=" m-2 bg-info">

                <!-- Link imagen -->
                <img src="https://03pwqw.dm.files.1drv.com/y4mzX4W6iT49tJGIJ3FehQLvvdV_-R-gxYy614_8V-S1auqULxo9AVc6ZKGlolmi3-Zx-hq7Z4X11m3t6NjTyGjovUn6vUtlI1RZJ3yw3jdPzcVP3-FREKiPo5BDN1WqjRzupCi-FBaEg4u0qEue9vdhAMLFH5j-6NC-HBZirfCSdW5ErkIP-ib9sEBksvDG3U68xOAzubIf3_gpSOfBuXQwA?width=1275&amp;height=400&amp;cropmode=none"
                    class="img-fluid" alt="Responsive image">
            </div>

            <div class="card-body">

                <!-- Canal de Youtube -->
                <a href="https://youtube.com/tecnoprofe" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2019/03/01/15514341872685.jpg" alt=""
                    height="50px">
                </a>

                <!-- GitLab -->
                <a href="https://gitlab.com/tecnoprofe" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://ubunlog.com/wp-content/uploads/2018/06/GitLab_logo.png" alt="" height="50px">
                </a>


                <!-- Redes Sociales -->
                <a href="https://www.facebook.com/zambranachaconjaime" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://sites.google.com/site/geoespacio/_/rsrc/1486858388107/home/LOGOFACE.png" alt="" height="50px">    
                </a>

                <!-- TITULO DE ASIGNATURA -->
                <h1> <strong>{{ materia }}</strong> </h1>

            </div>

        </div>
    </div>
    <!-- FIN -->
    <script>
        new Vue({
            el: '#cabecera',
            data: {
              materia: 'Sist. para Toma de Decisiones',                            
              proyecto: 'Desarrolla sistemas que coadyuven a la toma de decisiones para un nivel gerencial',
            }
        })
    </script>
    <!-- FIN CABECERA  -->
    




    <!-- INICIO PLANIFICACIÓN  -->
    <div id="planificacion">        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                        
        <!--INICIO -->

        <div class="card">
            <div class="card-header bg-dark text-warning m-3">
                <h1 class="display-4 ">
                    Planificación
                </h1>
            </div>
            
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <!-- PLANIFICACION-->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Planificación de la asignatura
                    </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Se realizará el diagnostico inicial a los conocimientos previos del estudiante en la primera clase</li>
                                    <li class="list-group-item">El estudiantes debe estan atento leer los contenidos publicados, archivos PDF/Vídeos</li>
                                    <li class="list-group-item">Presentar el proyecto como valoración final</li>                        
                                    <li class="list-group-item">Las valoraciones serán al conocimiento y habilidades adquiridas.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    
                    <!-- ENCUENTROS -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Reuniones sincrónicas y asincrónicas
                    </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <!-- link de zoom  -->
                                        <img src="https://d24cgw3uvb9a9h.cloudfront.net/static/94027/image/new/ZoomLogo.png" class="mr-3" alt="..." width="150">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">Sesiones Zoom</h5>
                                            {{ dias }}
                                            <a href="https://us02web.zoom.us/j/87405698562?pwd=RUNYMUhqdEpEUzY4cTNFdWNVQXlYdz09" class="btn btn-primary" target="_blank">
                            Unirse a la clase
                            </a>

                                            <ul>ID de reunión: 859 2850 7569</ul>
                                            <ul>Código de acceso: 114168</ul>
                                            <a href="https://us02web.zoom.us/j/85928507569?pwd=RmtOSGFabCtQQTJ4d3dMcTNYcUZLQT09" class="">






                            </a>
                                        </div>
                                    </li>
                                    <li class="media my-4">
                                        <!-- link de moodle -->
                                        <img src="https://moodle.com/wp-content/uploads/2019/05/Moodle_RGB.svg" class="mr-3" alt="..." width="150">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">Moodle</h5>
                                            Actividades Asincronicas (revisar constantemente la plataforma)
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>



                    <!-- REGLAS-->
                    <div class="card">
                        <div class="card-header" id="headingcuatro">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCuatro" aria-expanded="false" aria-controls="collapseCuatro">
                        Reglas de grupo
                    </button>
                            </h2>
                        </div>
                        <div id="collapseCuatro" class="collapse" aria-labelledby="headingcuatro" data-parent="#accordionExample">
                            <div class="card-body">
                                <!-- CAMBIAR LINK AQUI-->
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h2>REGLA 1</h2>
                                        Recuerda que los mensajes en el aula son leídos por todos. Sé siempre respetuoso y cortés 
                                    </li>
                            
                                
                                    <li class="list-group-item">
                                        <h2>REGLA 2</h2>                        
                                        Comparte tu conocimiento
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 3</h2>
                                        Ayuda a mantener los debates en un ambiente sano y educativo.
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 4</h2>
                                        Respeta la privacidad de terceras personas. 
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 5</h2>
                                        Con respecto a los espacios de intercambio:
                                        <ul>
                                            <li>Lee todas las intervenciones de tus compañeros y del docente antes de participar.</li>
                                            <li>Escribe textos cortos.</li>
                                            <li> Verifica ortografía y claridad en la redacción antes de publicar.</li>
                                            <li> Si está a tu alcance, colabora ante las consultas de tus compañeros. </li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 6</h2>
                                        Ingresa periódicamente al aula y realiza las actividades en la plataforma virtual. 
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 7</h2>
                                        Activar la cámara y micrófono en cada participación sincrónica a través de una de nuestras plataformas como Zoom o Teams.
                                    </li>
                                                                
                                </ul>

                                
                            </div>
                        </div>
                    </div>




                    <!-- GRUPO DE WHATSAPP-->
                    <div class="card">
                        <div class="card-header" id="headingcinco">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco">
                        <strong>Grupo de WhatsApp</strong> 
                    </button>
                            </h2>
                        </div>
                        <div id="collapseCinco" class="collapse" aria-labelledby="headingcinco" data-parent="#accordionExample">
                            <div class="card-body">
                                <!-- CAMBIAR LINK AQUI-->
                                <a :href="whatsapp" target="_blank"> 
                        <img src="https://s3-sa-east-1.amazonaws.com/img.decodecms/entradas/Agregar+Whatsapp+flotante+en+WordPress/agregar-whatsapp-flotante-en-wordpress.svg" 
                        style="width:5%;" class="img-thumbnail">
                    </a>
                            </div>
                        </div>
                    </div>




                    <!-- Videos de UPDS-->
                    <div class="card">
                        <div class="card-header" id="headingotro">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseotro" aria-expanded="false" aria-controls="collapseCinco">
                        Vídeo tutoriales UPDS
                    </button>
                            </h2>
                        </div>
                        <div id="collapseotro" class="collapse" aria-labelledby="headingotro" data-parent="#accordionExample">
                            <div class="card-body">
                                <iframe width="400" height="200" src="https://www.youtube.com/embed/videoseries?list=PLqQa6S5g7ZSriyswa7MG1Xe_HzV0ObeCE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        

        </div> 

       
    </div>    
    <script>
        new Vue({
            el: '#planificacion',
            data: {
              dias: 'Lunes, Martes, Miercoles y Jueves. A las 12:30',
              whatsapp: 'https://chat.whatsapp.com/KTDpaAcr54KFzu11yqbfla',
            }
        })
    </script>
    <!-- FIN CABECERA  -->
    











<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
<div id="contenido">    
    <!-- titulo de contenido -->
    <!-- CONTENIDO -->    
        <!-- UNIDAD 1-->
        <div class="card">
            <div class="card-header bg-dark text-warning m-3">
                <h1 class="display-4 ">
                    Contenido
                </h1>
            </div>
            <div class="card-body">
            <ul class="list-group list-group-flush">
              <li  v-for="tema in temas" class="list-group-item">                   
                    <h3>{{ tema.titulo }}</h3>                    
                    <ul>                        
                        <a v-for="capitulo in tema.contenido"  :href="capitulo.enlace"
                        target="_blank">
                        <li>                                                
                            <img :src="capitulo.icono"
                            style="width: 3%;"
                            alt="imagen">     
                            {{ capitulo.nombre}}
                        </li>
                        </a> 
                        
                    </ul>
              </li>
            </ul>
            </div>
        </div>        
</div>
<script>
    new Vue({
        el: '#contenido',
        data: {
           temas:[
            { titulo: 'Capítulo 1. Ciencia de datos',
              contenido:[
                    {nombre:'Python para Big Data, porque es el lenguaje más querido?',
                    enlace:'https://sitiobigdata.com/2020/01/16/python-para-big-data-lenguaje-querido/#', 
                    icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},                    
                                        
                    
                    
                ]
            },
            { titulo: 'Capítulo 2. Big Data',
              contenido:[
                    {nombre:'¿Qué es BIG DATA y para qué sirve?',tipo:'video',
                    enlace:'https://youtu.be/1oMThuGDZwg', 
                    icono:'https://addplaybuttontoimage.way4info.net/Images/Icons/7.png'},                  
                ]
            },            
          ]
        }
    })
</script>








<h1 class="display-4 bg-dark text-warning m-3">
    Actividades
</h1>














<!-- INICIO LISTA DE VIDEOS  -->
    <div id="listavideos">        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                        
        <!--INICIO -->

        <div class="card">
            <div class="card-header bg-dark text-warning m-3">
                <h1 class="display-4 ">
                    Lista de vídeos grabados
                </h1>
            </div>
            <div class="card-body">            
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL9xn53JF6mUHtsCycOy8fuSDblSCOUCcC" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
                
            </div>

        </div>        
    </div>        
<!-- FIN   -->
    

    


<!-- INICIO PROGRAMAS  -->
<div id="programas">        
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                        
    <!--INICIO -->

    <div class="card">
        <div class="card-header bg-dark text-warning m-3">
            <h1 class="display-4 ">
                Aplicaciones y software necesario
            </h1>
        </div>
        <div class="card-body">                       
            <a v-for="soft in software" 
            :href="soft.enlace" 
            target="_blank" >
                <img :src="soft.icono"
                        style="width: 8%;"
                    alt="imagen">  
            {{ soft.titulo }}
            
            </a>
        </div>

    </div>        
</div>        
<!-- FIN   -->
<script>
    new Vue({
        el: '#programas',
        data: {            
            software:[                    
                        { titulo: 'Librerias a instalar',enlace:'https://bootcampai.medium.com/top-10-de-las-mejores-librerias-de-inteligencia-artificial-aebaa62513dc',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},
                        { titulo: 'Python',enlace:'https://www.python.org/',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},                        
                        { titulo: 'Microsoft VSCode',enlace:'https://code.visualstudio.com/',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},
                    ]        
            }
        })
</script>
    





<!-- TAREA 1-->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">


<div id="actividad1"> 
    
    <div class="card bg-dark text-white">
        <img src="https://www.logaster.com.es/blog/wp-content/uploads/sites/4/2020/01/4-min-1024x576.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <!-- ENUNCIADO-->            
            <span style="font-size: 25px; color: rgb(255, 255, 255);">                
                <i class="fa fa-chalkboard-teacher"></i> INSTRUCCIÓN                
            </span>
            <!-- INTRUCCIONES -->            
            <ul>
                <p>Realizar la actividad bajo las siguientes consideraciones:</p>
                <li v-for="item in instrucciones">
                    <p v-html="item.titulo"></p>
                </li>                
            </ul>
                        

            <span style="font-size: 25px; color: rgb(255, 255, 255);">                                
                <i class="fa fa-tools"></i> HERRAMIENTAS Y RECURSOS
            </span>
            <!-- RECURSOS -->            
            <ul>                
                <li v-for="item in recursos">                    
                    <p v-html="item.titulo"></p>
                </li>                
            </ul>
        

            <span style="font-size: 25px; color: rgb(255, 255, 255);">                                
                <i class="fa fa-clipboard-check"></i> EVALUACIÓN
            </span> 
            <p v-html="evaluacion"></p>            
          
        </div>
      </div>
</div>

<script>
    new Vue({
        el: '#actividad1',
        data: 
        {
            enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
            instrucciones:[                
                {titulo:'Investigar sobre el big data:'},
                {titulo:'Realizar diapositivas, enfatizando un campo del big data.'},
                {titulo:'La exposición durará 5 minutos por participante.'},
            ],
            
            recursos:[   
            
                {titulo:"¿Qué es BIG DATA y para qué sirve?. <a href='https://youtu.be/1oMThuGDZwg' target='_blank' class='btn btn-warning'><i class='fa fa-paperclip'></i></a>"},
                
            ],
                        
            evaluacion: 'Puntaje: <strong> 5 pts </strong> ',
        }
    })
</script>
<!-- FIN tarea  -->


   

<!-- TAREA 2-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="actividad2">

    <div class="card bg-dark text-white">
        <img src="https://www.logaster.com.es/blog/wp-content/uploads/sites/4/2020/01/4-min-1024x576.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <!-- ENUNCIADO-->
            <span style="font-size: 25px; color: rgb(255, 255, 255);">                
                <i class="fa fa-chalkboard-teacher"></i> INSTRUCCIÓN                
            </span>
            <!-- INTRUCCIONES -->
            <ul>
                <p>Realizar la actividad bajo las siguientes consideraciones:</p>
                <li v-for="item in instrucciones">
                    <p v-html="item.titulo"></p>
                </li>
            </ul>


            <span style="font-size: 25px; color: rgb(255, 255, 255);">                                
                <i class="fa fa-tools"></i> HERRAMIENTAS Y RECURSOS
            </span>
            <!-- RECURSOS -->
            <ul>
                <li v-for="item in recursos">
                    <p v-html="item.titulo"></p>
                </li>
            </ul>


            <span style="font-size: 25px; color: rgb(255, 255, 255);">                                
                <i class="fa fa-clipboard-check"></i> EVALUACIÓN
            </span>
            <p v-html="evaluacion"></p>

        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#actividad2',
        data: {
            enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
            instrucciones: [{
                    titulo: 'Resolver al ecuación de 2do grado:'
                },
                {
                    titulo: 'Utilizar el Lenguaje de Programación Python'
                },
            ],

            recursos: [{
                titulo: "Ecuacion de 2do grado. <a href='http://recursostic.educacion.es/descartes/web/Descartes1/4a_eso/Ecuacion_de_segundo_grado/Ecua_seg.htm' class='btn btn-warning'><i class='fa fa-paperclip'></i></a>"
            }, ],

            evaluacion: 'Puntaje: <strong> 2 pts </strong> ',
        }
    })
</script>
<!-- FIN tarea  -->



<!-- TAREA 3-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="actividad3">

    <div class="card bg-dark text-white">
        <img src="https://www.logaster.com.es/blog/wp-content/uploads/sites/4/2020/01/4-min-1024x576.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <!-- ENUNCIADO-->
            <span style="font-size: 25px; color: rgb(255, 255, 255);">                
                <i class="fa fa-chalkboard-teacher"></i> INSTRUCCIÓN                
            </span>
            <!-- INTRUCCIONES -->
            <ul>
                <p>Realizar la actividad bajo las siguientes consideraciones:</p>
                <li v-for="item in instrucciones">
                    <p v-html="item.titulo"></p>
                </li>
            </ul>

            <span style="font-size: 25px; color: rgb(255, 255, 255);">                                
                <i class="fa fa-tools"></i> HERRAMIENTAS Y RECURSOS
            </span>
            <!-- RECURSOS -->
            <ul>
                <li v-for="item in recursos">
                    <p v-html="item.titulo"></p>
                </li>
            </ul>

            <span style="font-size: 25px; color: rgb(255, 255, 255);">                                
                <i class="fa fa-clipboard-check"></i> EVALUACIÓN
            </span>
            <p v-html="evaluacion"></p>

        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#actividad3',
        data: {
            enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
            instrucciones: [
                    {titulo: "Ver el video de duración de una hora. <a class='btn btn-info' target='_blank' href='https://youtu.be/UZB7oSjFqs0'> Vídeo </a>"},
                    {titulo: "Realizar una presentación, puede utilizar 3 diapositivas"},                
                    {titulo: "El tiempo de exposición será de 3 minutos"},                
                    {titulo: "Trabajo individual"},
                    {titulo: "Debe subir su diapositiva como evidencia."},
                    {titulo: "Para la exposición debe activar su cámara web."},
            ],

            recursos: [{
                titulo: "<a class='btn btn-info' target='_blank' href='https://youtu.be/UZB7oSjFqs0'> Vídeo </a>"
            }, ],

            evaluacion: 'Puntaje: <strong> 10 pts </strong> ',
        }
    })
</script>
<!-- FIN tarea  -->




<!-- TAREA 4-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="actividad4">

    <div class="card bg-dark text-white">
        <img src="https://www.logaster.com.es/blog/wp-content/uploads/sites/4/2020/01/4-min-1024x576.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <!-- ENUNCIADO-->
            <span style="font-size: 25px; color: rgb(255, 255, 255);">                
                <i class="fa fa-chalkboard-teacher"></i> INSTRUCCIÓN                
            </span>
            <!-- INTRUCCIONES -->
            <ul>
                <p>Realizar la actividad bajo las siguientes consideraciones:</p>
                <li v-for="item in instrucciones">
                    <p v-html="item.titulo"></p>
                </li>
            </ul>

            <span style="font-size: 25px; color: rgb(255, 255, 255);">                                
                <i class="fa fa-tools"></i> HERRAMIENTAS Y RECURSOS
            </span>
            <!-- RECURSOS -->
            <ul>
                <li v-for="item in recursos">
                    <p v-html="item.titulo"></p>
                </li>
            </ul>

            <span style="font-size: 25px; color: rgb(255, 255, 255);">                                
                <i class="fa fa-clipboard-check"></i> EVALUACIÓN
            </span>
            <p v-html="evaluacion"></p>

        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#actividad4',
        data: {
            enunciado: 'Realizar la actividad bajo las siguientes consideraciones:',
            instrucciones: [
                    {titulo: "Realizar la intalación de los paquetes descritos en los recursos"},
                    {titulo: "Debe demostrar usted, puede instalar y desinstalar"},                
                    {titulo: "Listar paquetes"},                
                    {titulo: "Debe compartir su pantalla para mostrar su evidencia"},                
                    {titulo: "EL docente puede hacerle una o varias preguntas, para evidenciar su aprendizaje"},                
            ],

            recursos: [{
                titulo: "<a class='btn btn-warning' target='_blank' href='https://www.interactivechaos.com/es/manual/tutorial-de-python/librerias-en-data-science'> Página web con la lista de paquetes a inestalar </a>"
            }, ],

            evaluacion: 'Puntaje: <strong> 8 pts </strong> ',
        }
    })
</script>
<!-- FIN tarea  -->














 <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>






