<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>



    



    <!-- INICIO CABECERA  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
    <div id="cabecera">
        
        <h1 class="h1 bg-dark text-warning m-3">
            {{ proyecto }}
        </h1>
    
        <div class="container">

            <div class=" m-2 bg-info">

                <!-- Link imagen -->
                <img src="https://03pwqw.dm.files.1drv.com/y4mzX4W6iT49tJGIJ3FehQLvvdV_-R-gxYy614_8V-S1auqULxo9AVc6ZKGlolmi3-Zx-hq7Z4X11m3t6NjTyGjovUn6vUtlI1RZJ3yw3jdPzcVP3-FREKiPo5BDN1WqjRzupCi-FBaEg4u0qEue9vdhAMLFH5j-6NC-HBZirfCSdW5ErkIP-ib9sEBksvDG3U68xOAzubIf3_gpSOfBuXQwA?width=1275&amp;height=400&amp;cropmode=none"
                    class="img-fluid" alt="Responsive image">
            </div>

            <div class="card-body">

                <!-- Canal de Youtube -->
                <a href="https://youtube.com/tecnoprofe" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2019/03/01/15514341872685.jpg" alt=""
                    height="50px">
                </a>

                <!-- GitLab -->
                <a href="https://gitlab.com/tecnoprofe" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://ubunlog.com/wp-content/uploads/2018/06/GitLab_logo.png" alt="" height="50px">
                </a>


                <!-- Redes Sociales -->
                <a href="https://www.facebook.com/zambranachaconjaime" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://sites.google.com/site/geoespacio/_/rsrc/1486858388107/home/LOGOFACE.png" alt="" height="50px">    
                </a>

                <!-- TITULO DE ASIGNATURA -->
                <div>
                    <h1>
                        <strong>{{ materia }}</strong>                 
                    </h1>
                    <h5>
                        <!-- GRUPO DE WHATSAPP-->
                        <a data-flickr-embed="true" target="_blank" :href="whatsapp" title="whatsapp"><img src="https://live.staticflickr.com/65535/51019699593_52a470b061_m.jpg" width="201" height="85" alt="whatsapp"></a>                    
                        <!-- ZOOM -->  
                        <a data-flickr-embed="true" target="_blank" :href="zoom" title="zoom"><img src="https://live.staticflickr.com/65535/51020459231_d74564944b_m.jpg" width="240" height="105" alt="zoom"></a>          
                        {{ dias }}
                    </h5>
                </div>

            </div>

        </div>
    </div>
    <!-- FIN -->
    <script>
        new Vue({
            el: '#cabecera',
            data: {
              materia: 'Diseño web II',                            
              proyecto: 'Desarrollo de sistema web utilizando laravel 8',
              dias: 'MA y JU de 19:00 a 22:00. LU, MI y VI (Asíncrono)',
              whatsapp: 'https://chat.whatsapp.com/CLAjZiRBNQUFn7YoX16PCD',
              zoom: 'https://us02web.zoom.us/j/87405698562?pwd=RUNYMUhqdEpEUzY4cTNFdWNVQXlYdz09',
              idypassword:'ID: 859 2850 7569 clave: 114168'
              
            }
        })
    </script>

    <!-- FIN CABECERA  -->
    




    <!-- INICIO PLANIFICACIÓN  -->
    <div id="planificacion">        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                        
        <!--INICIO -->

        <div class="card">
            <div class="card-header bg-dark text-warning m-3">
                <h1 class="display-4 ">
                    Planificación
                </h1>
            </div>
            
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <!-- PLANIFICACION-->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Planificación de la asignatura
                    </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Se realizará el diagnostico inicial a los conocimientos previos del estudiante en la primera clase</li>
                                    <li class="list-group-item">El estudiantes debe estan atento leer los contenidos publicados, archivos PDF/Vídeos</li>
                                    <li class="list-group-item">Presentar el proyecto como valoración final</li>                        
                                    <li class="list-group-item">Las valoraciones serán al conocimiento y habilidades adquiridas.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

            

                    <!-- REGLAS-->
                    <div class="card">
                        <div class="card-header" id="headingcuatro">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCuatro" aria-expanded="false" aria-controls="collapseCuatro">
                        Reglas de grupo
                    </button>
                            </h2>
                        </div>
                        <div id="collapseCuatro" class="collapse" aria-labelledby="headingcuatro" data-parent="#accordionExample">
                            <div class="card-body">
                                <!-- CAMBIAR LINK AQUI-->
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h2>REGLA 1</h2>
                                        Recuerda que los mensajes en el aula son leídos por todos. Sé siempre respetuoso y cortés 
                                    </li>
                            
                                
                                    <li class="list-group-item">
                                        <h2>REGLA 2</h2>                        
                                        Comparte tu conocimiento
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 3</h2>
                                        Ayuda a mantener los debates en un ambiente sano y educativo.
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 4</h2>
                                        Respeta la privacidad de terceras personas. 
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 5</h2>
                                        Con respecto a los espacios de intercambio:
                                        <ul>
                                            <li>Lee todas las intervenciones de tus compañeros y del docente antes de participar.</li>
                                            <li>Escribe textos cortos.</li>
                                            <li> Verifica ortografía y claridad en la redacción antes de publicar.</li>
                                            <li> Si está a tu alcance, colabora ante las consultas de tus compañeros. </li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 6</h2>
                                        Ingresa periódicamente al aula y realiza las actividades en la plataforma virtual. 
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 7</h2>
                                        Activar la cámara y micrófono en cada participación sincrónica a través de una de nuestras plataformas como Zoom o Teams.
                                    </li>
                                                                
                                </ul>

                                
                            </div>
                        </div>
                    </div>





                    <!-- Videos de UPDS-->
                    <div class="card">
                        <div class="card-header" id="headingotro">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseotro" aria-expanded="false" aria-controls="collapseCinco">
                        Vídeo tutoriales UPDS
                    </button>
                            </h2>
                        </div>
                        <div id="collapseotro" class="collapse" aria-labelledby="headingotro" data-parent="#accordionExample">
                            <div class="card-body">
                                <iframe width="400" height="200" src="https://www.youtube.com/embed/videoseries?list=PLqQa6S5g7ZSriyswa7MG1Xe_HzV0ObeCE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        

        </div> 

       
    </div>    
    <!-- FIN CABECERA  -->











<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
<div id="contenido">    
    <!-- titulo de contenido -->
    <!-- CONTENIDO -->    
        <!-- UNIDAD 1-->
        <div class="card">
            <div class="card-header bg-dark text-warning m-3">
                <h1 class="display-4 ">
                    Contenido
                </h1>
            </div>

            <div class="card-body">
            <ul class="list-group list-group-flush">
              <li  v-for="tema in temas" class="list-group-item">                   
                    <h2>{{ tema.titulo }}</h2>                    
                    <ul>                        
                        <a v-for="capitulo in tema.contenido"  :href="capitulo.enlace"
                        target="_blank">
                        <li>                                                
                            <img :src="capitulo.icono"
                            style="width: 50px;"
                            alt="imagen">     
                            {{ capitulo.nombre}}
                        </li>
                        </a> 
                        
                    </ul>
              </li>                            
            </ul>
            </div>
        </div>        
</div>
<script>
    new Vue({
        el: '#contenido',
        data: {
                        
           temas:[
            { titulo: 'Capitulo 1. Introducción a las aplicaciones moviles',
              contenido:[
                {nombre:'Guía de vue native',
                enlace:'https://www.peerbits.com/blog/building-native-apps-with-vue-js-framework.html', 
                icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},

                {nombre:'Vue Native. Instalación',
                enlace:'https://youtu.be/i_HstYGPKOY',
                icono:'https://addplaybuttontoimage.way4info.net/Images/Icons/7.png'},

                {nombre:'Documentación de Vue Native.',
                enlace:'https://vue-native.io/docs/',
                icono:'https://examtimeassets.s3.amazonaws.com/uploads/media/direct/e55b0b0dd2fd394c95be3549d9a72e3a/www.png'},

                
                ]
            },            
          ]
        }
    })
</script>








<h1 class="display-4 bg-dark text-warning m-3">
    Tareas
</h1>














<!-- INICIO LISTA DE VIDEOS  -->
    <div id="listavideos">        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                        
        <!--INICIO -->

        <div class="card">
            <div class="card-header bg-dark text-warning m-3">
                <h1 class="display-4 ">
                    Lista de vídeos grabados
                </h1>
            </div>
            <div class="card-body">
                            
                <iframe width="800" height="600" src="https://www.youtube.com/embed/videoseries?list=PL9xn53JF6mUH9IN0Xc5Wj2u_J0zH2h2eY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>        
    </div>        
<!-- FIN   -->
    

    


<!-- INICIO PROGRAMAS  -->
<div id="programas">        
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                        
    <!--INICIO -->

    <div class="card">
        <div class="card-header bg-dark text-warning m-3">
            <h1 class="display-4 ">
                Aplicaciones y software necesario
            </h1>
        </div>
        <div class="card-body">                       
            <a v-for="soft in software" 
            :href="soft.enlace" 
            target="_blank" >
                <img :src="soft.icono"
                        style="width: 8%;"
                    alt="imagen">  
            {{ soft.titulo }}
            
            </a>
        </div>

    </div>        
</div>        
<!-- FIN   -->
<script>
    new Vue({
        el: '#programas',
        data: {            
            software:[                    
                        { titulo: 'Vue JS',enlace:'https://vuejs.org',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},                        
                        { titulo: 'Microsoft VSCode',enlace:'https://code.visualstudio.com/',icono:'https://www.technologyseo.es/wp-content/uploads/2016/04/enlaces-seo.png'},                        
                    ]        
            }
        })
</script>
    


   


 <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>






