<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>





    <!-- INICIO CABECERA  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
    <div id="cabecera">
        
        <h1 class="h3 bg-dark text-warning m-3">
            {{ proyecto }}
        </h1>
    
        <div class="container">

            <div class=" m-2 bg-info">

                <!-- Link imagen -->
                <img src="https://03pwqw.dm.files.1drv.com/y4mzX4W6iT49tJGIJ3FehQLvvdV_-R-gxYy614_8V-S1auqULxo9AVc6ZKGlolmi3-Zx-hq7Z4X11m3t6NjTyGjovUn6vUtlI1RZJ3yw3jdPzcVP3-FREKiPo5BDN1WqjRzupCi-FBaEg4u0qEue9vdhAMLFH5j-6NC-HBZirfCSdW5ErkIP-ib9sEBksvDG3U68xOAzubIf3_gpSOfBuXQwA?width=1275&amp;height=400&amp;cropmode=none"
                    class="img-fluid" alt="Responsive image">
            </div>

            <div class="card-body">

                <!-- Canal de Youtube -->
                <a href="https://youtube.com/tecnoprofe" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2019/03/01/15514341872685.jpg" alt=""
                    height="30px">
                </a>

                <!-- GitLab -->
                <a href="https://gitlab.com/tecnoprofe" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://ubunlog.com/wp-content/uploads/2018/06/GitLab_logo.png" alt="" height="30px">
                </a>


                <!-- Redes Sociales -->
                <a href="https://www.facebook.com/zambranachaconjaime" target="_blank" class="m-2 btn btn-dark">
                    <img src="https://sites.google.com/site/geoespacio/_/rsrc/1486858388107/home/LOGOFACE.png" alt="" height="30px">    
                </a>

               
            </div>

        </div>
    </div>
    <!-- FIN -->
    <script>
        new Vue({
            el: '#cabecera',
            data: {
              materia: 'Módulo 14: Metodología de la Investigación en Desarrollo de Proyectos',                            
              proyecto: 'Maestría en Educación Superior y Tecnología',
            }
        })
    </script>
    <!-- FIN CABECERA  -->
    









  

    <!-- INICIO PLANIFICACIÓN  -->
    <div id="planificacion">        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                        
        <!--INICIO -->

        <div class="card">
            <div class="card-header bg-dark text-warning m-3">
                <h1 class="display-4 ">
                    Planificación
                </h1>
            </div>
            
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <!-- PLANIFICACION-->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Planificación de la asignatura
                    </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Se realizará el diagnostico inicial a los conocimientos previos del estudiante en la primera clase</li>
                                    <li class="list-group-item">El estudiantes debe estan atento leer los contenidos publicados, archivos PDF/Vídeos</li>
                                    <li class="list-group-item">Presentar el proyecto como valoración final</li>                        
                                    <li class="list-group-item">Las valoraciones serán al conocimiento y habilidades adquiridas.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    
                    <!-- ENCUENTROS -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Reuniones sincrónicas y asincrónicas
                    </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <!-- link de zoom  -->
                                        <img src="https://d24cgw3uvb9a9h.cloudfront.net/static/94027/image/new/ZoomLogo.png" class="mr-3" alt="..." width="150">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">Sesiones Zoom</h5>
                                            {{ dias }}
                                            <a href="https://us02web.zoom.us/j/87405698562?pwd=RUNYMUhqdEpEUzY4cTNFdWNVQXlYdz09" class="btn btn-primary" target="_blank">
                            Unirse a la clase
                            </a>

                                            <ul>ID de reunión: 859 2850 7569</ul>
                                            <ul>Código de acceso: 114168</ul>
                                            <a href="https://us02web.zoom.us/j/85928507569?pwd=RmtOSGFabCtQQTJ4d3dMcTNYcUZLQT09" class="">






                            </a>
                                        </div>
                                    </li>
                                    <li class="media my-4">
                                        <!-- link de moodle -->
                                        <img src="https://moodle.com/wp-content/uploads/2019/05/Moodle_RGB.svg" class="mr-3" alt="..." width="150">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">Moodle</h5>
                                            Actividades Asincronicas (revisar constantemente la plataforma)
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>



                    <!-- REGLAS-->
                    <div class="card">
                        <div class="card-header" id="headingcuatro">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCuatro" aria-expanded="false" aria-controls="collapseCuatro">
                        Reglas de grupo
                    </button>
                            </h2>
                        </div>
                        <div id="collapseCuatro" class="collapse" aria-labelledby="headingcuatro" data-parent="#accordionExample">
                            <div class="card-body">
                                <!-- CAMBIAR LINK AQUI-->
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h2>REGLA 1</h2>
                                        Recuerda que los mensajes en el aula son leídos por todos. Sé siempre respetuoso y cortés 
                                    </li>
                            
                                
                                    <li class="list-group-item">
                                        <h2>REGLA 2</h2>                        
                                        Comparte tu conocimiento
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 3</h2>
                                        Ayuda a mantener los debates en un ambiente sano y educativo.
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 4</h2>
                                        Respeta la privacidad de terceras personas. 
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 5</h2>
                                        Con respecto a los espacios de intercambio:
                                        <ul>
                                            <li>Lee todas las intervenciones de tus compañeros y del docente antes de participar.</li>
                                            <li>Escribe textos cortos.</li>
                                            <li> Verifica ortografía y claridad en la redacción antes de publicar.</li>
                                            <li> Si está a tu alcance, colabora ante las consultas de tus compañeros. </li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 6</h2>
                                        Ingresa periódicamente al aula y realiza las actividades en la plataforma virtual. 
                                    </li>
                                    <li class="list-group-item">
                                        <h2>REGLA 7</h2>
                                        Activar la cámara y micrófono en cada participación sincrónica a través de una de nuestras plataformas como Zoom o Teams.
                                    </li>
                                                                
                                </ul>

                                
                            </div>
                        </div>
                    </div>




                    <!-- GRUPO DE WHATSAPP-->
                    <div class="card">
                        <div class="card-header" id="headingcinco">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco">
                        <strong>Grupo de WhatsApp</strong> 
                    </button>
                            </h2>
                        </div>
                        <div id="collapseCinco" class="collapse" aria-labelledby="headingcinco" data-parent="#accordionExample">
                            <div class="card-body">
                                <!-- CAMBIAR LINK AQUI-->
                                <a :href="whatsapp" target="_blank"> 
                        <img src="https://s3-sa-east-1.amazonaws.com/img.decodecms/entradas/Agregar+Whatsapp+flotante+en+WordPress/agregar-whatsapp-flotante-en-wordpress.svg" 
                        style="width:5%;" class="img-thumbnail">
                    </a>
                            </div>
                        </div>
                    </div>




                    <!-- Videos de UPDS-->
                    <div class="card">
                        <div class="card-header" id="headingotro">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseotro" aria-expanded="false" aria-controls="collapseCinco">
                        Vídeo tutoriales UPDS
                    </button>
                            </h2>
                        </div>
                        <div id="collapseotro" class="collapse" aria-labelledby="headingotro" data-parent="#accordionExample">
                            <div class="card-body">
                                <iframe width="400" height="200" src="https://www.youtube.com/embed/videoseries?list=PLqQa6S5g7ZSriyswa7MG1Xe_HzV0ObeCE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        

        </div> 

       
    </div>    
    <script>
        new Vue({
            el: '#planificacion',
            data: {
              dias: 'Horario a definirse',
              whatsapp: 'https://chat.whatsapp.com/J7FpKwPtd45GzGAD62TyVK',
            }
        })
    </script>
    <!-- FIN CABECERA  -->
    








<div>
    <p class="headline headline-v2"><i class="fas fa-bookmark"></i> 
        <b>TEMA 1:</b>Delimitación y planteamiento del problema </p>
        


        <p class="headline headline-v1">
            <i class="fa fa-folder-open"></i> Recursos de la semana
        </p>
        <p> 
            <a class="btn btn-success" href="https://drive.google.com/drive/folders/1_gZ7VlBCGoOdCzHc91LYnW1krJFifTbI?usp=sharing" target="_blank">  
                Material (Diapositivas)
            </a>
        <p> 
                        
            
        <a href="https://youtube.com/playlist?list=PL9xn53JF6mUEzdfDatM5lDjlYgW7ksjTW" target="_blank">
            <img src="https://addplaybuttontoimage.way4info.net/Images/Icons/7.png" alt="imagen" style="width:7%;">     
            Lista de videos de la semana            
        </a>    
    
</div>

